@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

p {
  font-weight: 400;
}

@theme {
  --color-primary: #dc8275;
}
